.navbar{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;

}
.navbar li{
    display: inline-block ;
    padding: 0px 20px;

}
.navbar a{
    text-decoration: none;
    color: black;
}
.banner{
    background-color: blueviolet;
    color: cornsilk;
    text-align: center;
    margin-top: 50px;
    padding: 5% 0;

}
#resize-image{

    height:400px;
    width:400px;
    border-radius: 99% ;
    filter: drop-shadow(0 0 0.75rem crimson);

}
#button{
    background-color: red;
    color:cornsilk;
    height: 50px;
    width: auto;
    border-radius: 20px;
}

.Gritter-Section{
    padding: 20px 50px;
}

#Gritter{

    color:darkolivegreen;
    font-size: 100px;
    align: center;
}
.avatar{
    background-image: url(../images/Cute-Groot.jpg);
    background-size: cover;
    height:50px;
    width:50px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.bold{
    font-weight:900;
}

a.blue{
    color: blue;
}
#greets ul{
    list-style-type: none;
}
